name: Go
on:
  push:
    # branches:
    #   - main
    tags:
      - v1.*.*
  pull_request:
    branches:
      - main

jobs:
  goreleaser:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17
      -
        name: Build Dependencies (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update && sudo apt-get install gcc-aarch64-linux-gnu
      -
        if: matrix.platform == 'ubuntu-latest'
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist -f .goreleaser.linux.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: What is SDK (macOS)
      #   if: matrix.platform == 'macos-latest'
      #   run: |
      #     xcrun --sdk macosx --show-sdk-path
      # -
      #   if: matrix.platform == 'macos-latest'
      #   name: Run GoReleaser
      #   uses: goreleaser/goreleaser-action@v2
      #   with:
      #     distribution: goreleaser
      #     version: latest
      #     args: release --rm-dist -f hack/goreleaser/darwin.yml
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        if: matrix.platform == 'windows-latest'
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist -f .goreleaser.windows.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        if: matrix.platform == 'ubuntu-latest'
        name: Upload assets
        uses: actions/upload-artifact@v3
        with:
          name: apfs_linux
          path: dist/*
      # -
      #   if: matrix.platform == 'macos-latest'
      #   name: Upload assets
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: apfs_macos
      #     path: dist/*
      -
        if: matrix.platform == 'windows-latest'
        name: Upload assets
        uses: actions/upload-artifact@v3
        with:
          name: apfs_windows
          path: dist/*