
name: Go
on:
  push:
    # branches:
    #   - main
    tags:
      - v1.*.*
  pull_request:
    branches:
      - main


jobs:
  goreleaser:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.1
      - name: Get stringer
        run: go install golang.org/x/tools/cmd/stringer
      -
        name: Build Dependencies (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update && sudo apt-get install gcc-aarch64-linux-gnu
      -
        if: matrix.platform == 'ubuntu-latest'
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --skip-validate --single-target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          # GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
      - name: What is SDK (macOS)
        if: matrix.platform == 'macos-latest'
        run: |
          xcrun --sdk macosx --show-sdk-path
      -
        if: matrix.platform == 'macos-latest'
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --skip-validate --single-target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        if: matrix.platform == 'windows-latest'
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --skip-validate --single-target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        if: matrix.platform == 'ubuntu-latest'
        name: Upload assets
        uses: actions/upload-artifact@v2
        with:
          name: disass_macos
          path: dist/*
      -
        if: matrix.platform == 'macos-latest'
        name: Upload assets
        uses: actions/upload-artifact@v2
        with:
          name: disass_linux
          path: dist/*
      -
        if: matrix.platform == 'windows-latest'
        name: Upload assets
        uses: actions/upload-artifact@v2
        with:
          name: disass.exe
          path: dist/*